@model NiRA_Clothes.Models.Clothes

@{
    ViewBag.Title = "Ramdom2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>
@*<p>ID: @Model.ID  </p>
<p>Name: @Model.NameOfProduct</p>
<p>Price: @Model.Price</p>*@

<p>Name: @ViewBag.name </p>
<p>ID: @ViewBag.id </p>
<p>Price: @ViewBag.price </p>

